Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
s1=pd.Series([4,8,15,16,23,42])
print(s1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
ls=[x for x in range(10,21)]
print(pd.Series(ls))

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:
Name      Age       Gender
Alice     25        Female
Bob       30        Male
Claire    27        Female

In [8]:
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
clm=['Name','Age','Gender']
df=pd.DataFrame(data,columns=clm)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans:-Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data      structure with labeled axes (rows and columns). A Data frame is a two-dimensional data        structure, i.e., data is aligned in a tabular fashion in rows and columns.

     Differnces
     1)Series are 1-D, whereas Dataframe are 2-D. 
     2)Series consists of homogeneous data, whereas dataframe consists of heterogeneous data.

In [9]:
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
clm=['Name','Age','Gender']
df=pd.DataFrame(data,columns=clm)
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
data=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]
clm=['Name','Age','Gender']
df=pd.DataFrame(data,columns=clm)
sr=df['Name']
print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1.read_csv()-read a csv file .
2.read_excel()-read a excle file.
3.to_csv()- save a file(dataframe) in csv format
4.to_excel()-save a dataframe in excel format
5.head()-get top 5 row data of datafram
6.tail()-get bottom 5 row data of dataframe.
7.describe()-used for calculating some statistical data like percentile, mean and std of the              numerical values of the Series or DataFrame.
8.Info()-prints information about the DataFrame. The information contains the number of                columns, column labels, column data types, memory usage, range index, and the number          of cells in each column 
9.Drop()- removes the specified row or column.
10.Shape()-enables us to obtain the shape of a DataFrame. For example, if a DataFrame has a              shape of (80, 10) , this implies that the DataFrame is made up of 80 rows and 10              columns of data.
11.columns()-give the list of colunms in dataframe
12.dtypes()-give the datatype of colmns of dataframe

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans-
series- one dimensional- immutable
dataframe- two dimensional-mutable
panel- three dimensional-mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
import pandas as pd

# Creating two lists
author = ['Jitender', 'Purnima',
		'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
		'Article': article_series}

# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)

# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178